const baseUrl = '${TF_VAR_ENV_APP_KC_URL}';

export default {
  baseUrl: baseUrl,
  token: {
    username: 'alice',
    password: 'password',
    grant_type: 'password',
    client_id: 'test-cli',
    realmName: 'rcognito'
  },
  adminClient: {
    baseUrl: baseUrl,
    realmName: 'master',
    username: 'admin',
    password: 'keycloak',
    grantType: 'password',
    clientId: 'admin-cli'
  }
};
